In [1]:
#RUN THIS CELL 
import requests
from IPython.core.display import HTML, display
styles = requests.get("https://raw.githubusercontent.com/Harvard-IACS/2018-CS109A/master/content/styles/cs109.css").text
HTML(styles)

import pandas as pd
import numpy as np
import os
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from statsmodels.api import OLS
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import RidgeCV
from sklearn.linear_model import LassoCV
from sklearn.metrics import r2_score
from pandas.plotting import scatter_matrix

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [3]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

### Read in and basic overview

In [4]:
path_dataset = 'gdrive/My Drive/CS109BProject/data/Capital_Projects.csv'
df = pd.read_csv(path_dataset)
print(df.shape)
df.tail()

(2259, 16)

         Date Reported As Of  ...  Total Schedule Changes
2254  09/01/2019 12:00:00 AM  ...                     NaN
2255  09/01/2019 12:00:00 AM  ...                     NaN
2256  09/01/2019 12:00:00 AM  ...                     NaN
2257  09/01/2019 12:00:00 AM  ...                     NaN
2258  09/01/2019 12:00:00 AM  ...                     NaN

[5 rows x 16 columns]

In [0]:
df.describe()

               PID  ...  Total Schedule Changes
count  2259.000000  ...             2186.000000
mean    487.699867  ...              669.718207
std     258.005332  ...              718.792415
min       3.000000  ...            -1462.000000
25%     314.000000  ...               77.000000
50%     504.000000  ...              621.000000
75%     668.000000  ...             1097.000000
max    1014.000000  ...             3253.000000

[8 rows x 6 columns]

In [5]:
df.describe(include = 'all')

# Comparing the 1st row we see that there seem to be missing values in all fields except for
# date reported, PID, Project Name, Category and Managing Agency

           Date Reported As Of  ...  Total Schedule Changes
count                     2259  ...             2186.000000
unique                      15  ...                     NaN
top     09/01/2019 12:00:00 AM  ...                     NaN
freq                       378  ...                     NaN
mean                       NaN  ...              669.718207
std                        NaN  ...              718.792415
min                        NaN  ...            -1462.000000
25%                        NaN  ...               77.000000
50%                        NaN  ...              621.000000
75%                        NaN  ...             1097.000000
max                        NaN  ...             3253.000000

[11 rows x 16 columns]

In [6]:
#df = df.convert_objects(convert_numeric=True)
df.dtypes

#pids = df.groupby('PID')
#pids.describe()
#df['Total Schedule Changes'] = df['Total Schedule Changes'].astype(float)
df.dtypes

Date Reported As Of         object
PID                          int64
Project Name                object
Description                 object
Category                    object
Borough                     object
Managing Agency             object
Client Agency               object
Current Phase               object
Design Start                object
Budget Forecast            float64
Latest Budget Changes      float64
Total Budget Changes       float64
Forecast Completion         object
Latest Schedule Changes    float64
Total Schedule Changes     float64
dtype: object

## Regression Model

In [7]:
df['Forecast Completion'] =pd.to_datetime(df['Forecast Completion'])
df['Date Reported As Of'] = pd.to_datetime(df['Date Reported As Of'])
df['Design Start'] = pd.to_datetime(df['Design Start'])
df.dtypes

Date Reported As Of        datetime64[ns]
PID                                 int64
Project Name                       object
Description                        object
Category                           object
Borough                            object
Managing Agency                    object
Client Agency                      object
Current Phase                      object
Design Start               datetime64[ns]
Budget Forecast                   float64
Latest Budget Changes             float64
Total Budget Changes              float64
Forecast Completion        datetime64[ns]
Latest Schedule Changes           float64
Total Schedule Changes            float64
dtype: object

In [8]:
df['Month'] = df['Date Reported As Of'].dt.month
df['Year'] = df['Date Reported As Of'].dt.year
df.head()

  Date Reported As Of  PID  ... Month  Year
0          2014-05-01    3  ...     5  2014
1          2015-02-01    3  ...     2  2015
2          2015-08-01    3  ...     8  2015
3          2016-01-01    3  ...     1  2016
4          2016-06-01    3  ...     6  2016

[5 rows x 18 columns]

In [9]:
df['Final Date'] = df.groupby(['PID'])['Forecast Completion'].transform('last')
df.head(15)

   Date Reported As Of  PID  ...  Year Final Date
0           2014-05-01    3  ...  2014 2020-10-09
1           2015-02-01    3  ...  2015 2020-10-09
2           2015-08-01    3  ...  2015 2020-10-09
3           2016-01-01    3  ...  2016 2020-10-09
4           2016-06-01    3  ...  2016 2020-10-09
5           2016-11-01    3  ...  2016 2020-10-09
6           2017-04-01    3  ...  2017 2020-10-09
7           2017-09-01    3  ...  2017 2020-10-09
8           2018-03-01    3  ...  2018 2020-10-09
9           2018-08-01    3  ...  2018 2020-10-09
10          2019-01-01    3  ...  2019 2020-10-09
11          2019-05-01    3  ...  2019 2020-10-09
12          2019-09-01    3  ...  2019 2020-10-09
13          2013-09-01    7  ...  2013 2020-02-14
14          2014-01-01    7  ...  2014 2020-02-14

[15 rows x 19 columns]

In [10]:
df['Stage'] = (df['Date Reported As Of'] - df['Design Start']) / (df['Final Date']- df['Design Start'])
df.head(15)

   Date Reported As Of  PID  ... Final Date     Stage
0           2014-05-01    3  ... 2020-10-09  0.085503
1           2015-02-01    3  ... 2020-10-09  0.192771
2           2015-08-01    3  ... 2020-10-09  0.263117
3           2016-01-01    3  ... 2020-10-09  0.322581
4           2016-06-01    3  ... 2020-10-09  0.381656
5           2016-11-01    3  ... 2020-10-09  0.441119
6           2017-04-01    3  ... 2020-10-09  0.499806
7           2017-09-01    3  ... 2020-10-09  0.559269
8           2018-03-01    3  ... 2020-10-09  0.629615
9           2018-08-01    3  ... 2020-10-09  0.689079
10          2019-01-01    3  ... 2020-10-09  0.748543
11          2019-05-01    3  ... 2020-10-09  0.795181
12          2019-09-01    3  ... 2020-10-09  0.842985
13          2013-09-01    7  ... 2020-02-14  0.049597
14          2014-01-01    7  ... 2020-02-14  0.098790

[15 rows x 20 columns]

In [0]:
df.dtypes

Date Reported As Of        datetime64[ns]
PID                                 int64
Project Name                       object
Description                        object
Category                           object
Borough                            object
Managing Agency                    object
Client Agency                      object
Current Phase                      object
Design Start               datetime64[ns]
Budget Forecast                   float64
Latest Budget Changes             float64
Total Budget Changes              float64
Forecast Completion        datetime64[ns]
Latest Schedule Changes           float64
Total Schedule Changes            float64
Month                               int64
Year                                int64
Final Date                 datetime64[ns]
Stage                             float64
dtype: object

In [41]:
categorical_columns = ['Category', 'Borough', 'Current Phase'] # not including Agencies nor Decription
nyc_df = pd.get_dummies(df, columns=categorical_columns, drop_first=True)
datetime_columns = ['Design Start', 'Forecast Completion', 'Final Date']
for cols in datetime_columns:
  nyc_df[cols] = pd.to_numeric(nyc_df[cols])
nyc_df.dtypes

Date Reported As Of                       datetime64[ns]
PID                                                int64
Project Name                                      object
Description                                       object
Managing Agency                                   object
                                               ...
Current Phase_Construction                         uint8
Current Phase_Construction Procurement             uint8
Current Phase_Design                               uint8
Current Phase_IT                                   uint8
Current Phase_Scoping/Planning                     uint8
Length: 61, dtype: object

In [42]:
nyc_df.columns

Index(['Date Reported As Of', 'PID', 'Project Name', 'Description',
       'Managing Agency', 'Client Agency', 'Design Start', 'Budget Forecast',
       'Latest Budget Changes', 'Total Budget Changes', 'Forecast Completion',
       'Latest Schedule Changes', 'Total Schedule Changes', 'Month', 'Year',
       'Final Date', 'Stage', 'Category_Bridges',
       'Category_Bridges, Streets and Roadways', 'Category_Ferries',
       'Category_Health and Hospitals', 'Category_Health and Hospitals, IT',
       'Category_IT', 'Category_Industrial Development',
       'Category_Industrial Development, Parks',
       'Category_Industrial Development, Streets and Roadways',
       'Category_Libraries', 'Category_Other Government Facilities',
       'Category_Parks', 'Category_Parks, Streets and Roadways',
       'Category_Public Safety and Criminal Justice', 'Category_Sanitation',
       'Category_Schools', 'Category_Sewers', 'Category_Social Services',
       'Category_Streets and Roadways', 'Category_Wastewater Treatment',
       'Category_Water Supply', 'Borough_Bronx, Manhattan', 'Borough_Brooklyn',
       'Borough_Brooklyn, Queens', 'Borough_Carmel', 'Borough_Citywide',
       'Borough_Manhattan', 'Borough_Manhattan, Bronx',
       'Borough_Manhattan, Staten Island',
       'Borough_Manhattan, Staten Island, Bronx', 'Borough_Manhatten',
       'Borough_Marlboro', 'Borough_New York', 'Borough_Olive',
       'Borough_Port Jervis', 'Borough_Queens', 'Borough_Staten Island',
       'Borough_Upstate', 'Borough_Valhalla', 'Current Phase_Construction',
       'Current Phase_Construction Procurement', 'Current Phase_Design',
       'Current Phase_IT', 'Current Phase_Scoping/Planning'],
      dtype='object')

In [0]:
drop_columns = ['Date Reported As Of', 'PID', 'Project Name', 'Description','Managing Agency', 'Client Agency']
nyc_df = nyc_df.drop(drop_columns, axis=1)
nyc_df = nyc_df.dropna()

In [0]:
nyc_train, nyc_test = train_test_split(nyc_df, test_size=.2, random_state=90)

In [45]:
nyc_train.head()

             Design Start  ...  Current Phase_Scoping/Planning
2139  1563235200000000000  ...                               0
1510  1496620800000000000  ...                               0
12    1379894400000000000  ...                               0
860   1252886400000000000  ...                               0
1696  1422489600000000000  ...                               0

[5 rows x 55 columns]

In [46]:
nyc_test.head()

             Design Start  ...  Current Phase_Scoping/Planning
1061  1428624000000000000  ...                               0
677   1427328000000000000  ...                               0
1980  1205193600000000000  ...                               0
484   1339027200000000000  ...                               0
1578  1432944000000000000  ...                               0

[5 rows x 55 columns]

In [47]:
# Budget change
cost_column = ['Latest Budget Changes']
X_train = nyc_train.drop(cost_column, axis=1)
y_train = nyc_train[cost_column[0]]
fitted_model = LinearRegression().fit(X_train, y_train)
fitted_model.score(X_train, y_train)

0.18002279199182494